extends ./partials/layout.jade

block socialMeta
	<!-- Search Engine -->
	<meta name="description" content="the F2E - 線上支付">
	<meta name="image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week4.jpg">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="2nd Week 4 - Crypto Pay">
	<meta itemprop="description" content="the F2E - 線上支付">
	<meta itemprop="image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week4.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="2nd Week 4 - Crypto Pay">
	<meta property="og:description" content="the F2E - 線上支付">
	<meta property="og:image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week4.jpg">
	<meta property="og:url" content="https://kakadodo.github.io/theF2EChallange/crypto-pay.html">
	<meta property="og:site_name" content="2nd Week 4 - Crypto Pay">
	<meta property="og:locale" content="zh_TW">
	<meta property="fb:admins" content="1420062581">
	<meta property="fb:app_id" content="333459487173924">
	<meta property="og:type" content="website">

block pageTitle
	title 2nd Week 4 - Crypto Pay

block css
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
	link(rel="stylesheet", href="./css/crypto-pay.css")
block content
	#app(v-cloak)
		.container
			.row.justify-content-center.progress_group_wrapper
				.col-md-6
					ul.progress_group
						li.progress_group_item(:class="{done:progress.profile || progress.steps[progress.currentStep]=== 'profile'}" data-title="填寫資料")
							i.far.fa-user(v-if="!progress.profile")
							i.fas.fa-check(v-else)
						li.progress.progress_group_bar
							.progress-bar(role="progressbar"
								:class="{done:progress.profile}")
						li.progress_group_item(:class="{done:progress.payby || progress.steps[progress.currentStep]=== 'payby'}" data-title="選擇付款方式")
							i.fas.fa-dollar-sign(v-if="!progress.payby")
							i.fas.fa-check(v-else)
						li.progress.progress_group_bar
							.progress-bar(role="progressbar"
								:class="{done:progress.payby}")
						li.progress_group_item(:class="{done:progress.payment || progress.steps[progress.currentStep]=== 'payment'}" data-title="前往付款")
							i.far.fa-credit-card(v-if="!progress.payment")
							i.fas.fa-check(v-else)
			.row.no-gutters.step_wrapper
				.col-md-4.popup_wrapper(:class="{hideOrder: hideOrder}")
					aside.popup
						.popup_body
							img.popup_body_img.img-fluid(src="./img/2nd-week4/item.jpg")
							.popup_body_title 玩具解剖展｜夜間加場：紐約街頭潮 玩派對 Special Guest DJ RayRay
							ul.popup_body_descriptionList
								li.popup_body_descriptionList_item
									| 2019-08-09(五) 19:30 ~ 21:00 (GMT+8)
								li.popup_body_descriptionList_item
									| 台灣台北市中正區八德路一段1號
								li.popup_body_descriptionList_item
									| 訂單編號：1908020833432821107310
						.popup_footer
							.popup_footer_price 總價: 1688 元
						button.btn.popup_btn(@click="hideOrder=!hideOrder") 訂單資訊
				.col-md-8
					transition(enter-active-class="animated bounceIn"
							mode="out-in")
						main.form_wrapper(v-if="progress.steps[progress.currentStep] === 'profile'"
							key="profile")
							section.step
								h1.step_title
									strong Step.1
									| 填寫聯絡人資訊
								form(novalidate @submit.prevent="validateBeforeSubmit('profile')")
									.form-row
										.form-group.col-md-6
											label.step_required 姓名
											input.form-control(type='text' name="name"
												v-model="formProfile.name"
												v-validate="'required|min:1'")
										.form-group.col-md-6
											label.step_required 行動電話
											input.form-control(type='tel' name="mobile"
												v-model="formProfile.mobile"
												v-validate="'required|numeric|length:10'")
									.form-row
										.form-group.col-md-6
											label.step_required 電子郵件
											input.form-control(type='email' name="email"
												v-model="formProfile.email"
												v-validate="'required|email'")
										.form-group.col-md-6
											label 活動日期
											input.form-control(type='text' name="date"
												v-model="formProfile.date" readonly)
									.form-row
										.form-group.col-md-6
											label.step_required 參加人數
											.form-row
												.col-12.col-sm-6.form_inline
													label 成人
													input.form-control(type='number' name="adult"
														min="0"
														v-model="formProfile.nop.adult"
														v-validate="'required|nop'")
												.col-12.col-sm-6.form_inline.mt-2.mt-sm-0
													label 小孩
													input.form-control(type='number' name="child"
														min="0"
														v-model="formProfile.nop.child"
														v-validate="'required|nop'")
										.form-group.col-md-6
											label 優惠代碼
											input.form-control(type='text' name="code"
												v-model="formProfile.code")
									.form-group
										label 備註
										textarea.form-control(rows="5")
									.form-group
										.form-check
											input#gridCheck.form-check-input(type='checkbox' name="agree"
												v-model="formProfile.agree"
												v-validate="'required'")
											label.form-check-label(for='gridCheck')
												| 我已閱讀並同意
												strong 票券訂購暨使用須知
												| 內容所有條款
									.form_footer
										.btn_group
											button.btn.btn_normal(@click.prevent="resetForm('formProfile')") 取消
											button.btn.btn_primary(type='submit') 下一步
						main.form_wrapper(v-else-if="progress.steps[progress.currentStep] === 'payby'" key="payby")
							section.step
								h1.step_title
									strong Step.2
									| 選擇付款方式
								form.form_payby(novalidate @submit.prevent="validateBeforeSubmit('payby')")
									.row
										.form_payby_item.col-12.col-md-6.col-lg-4(:class="{active: formPayby===0}")
											label
												input(type='radio' name="payby" :value="0"
													v-model="formPayby"
													v-validate="'required'")
												.form_payby_img
												span 超商代碼 7-11
										.form_payby_item.col-12.col-md-6.col-lg-4(:class="{active: formPayby===1}")
											label
												input(type='radio' name="payby" :value="1"
													v-model="formPayby"
													v-validate="'required'")
												.form_payby_img(style="background-position: 0px -72px")
												span ATM 轉帳
										.form_payby_item.col-12.col-md-6.col-lg-4(:class="{active: formPayby===2}")
											label
												input(type='radio' name="payby" :value="2"
													v-model="formPayby"
													v-validate="'required'")
												.form_payby_img(style="background-position: 0px -144px")
												span 街口支付
										.form_payby_item.col-12.col-md-6.col-lg-4(:class="{active: formPayby===3}")
											label
												input(type='radio' name="payby" :value="3"
													v-model="formPayby"
													v-validate="'required'")
												.form_payby_img.useIcon
													i.far.fa-credit-card
												span 信用卡
										.form_payby_item.col-12.col-md-6.col-lg-4(:class="{active: formPayby===4}")
											label
												input(type='radio' name="payby" :value="4"
													v-model="formPayby"
													v-validate="'required'")
												.form_payby_img(style="background-position: 0px -216px")
												span LINE Pay
									.form_footer
										span.form_payby_price 總價：1688元
										.btn_group
											button.btn.btn_normal(@click.prevent="resetForm('formPayby')") 取消
											button.btn.btn_primary(type='submit') 下一步
									.alert.alert_payby.mt-3.fade.hide(role='alert')
										| 請選擇一種付款方式
						main.form_wrapper(v-else-if="progress.steps[progress.currentStep] === 'payment'"
							key="payment")
							section.step
								h1.step_title
									strong Step.3
									| 填寫付款資訊
								form(novalidate @submit.prevent="validateBeforeSubmit('payment')")
									.form-group
										label 持卡人
										input.form-control(type='text' name="name"
											v-model="formPayment.name"
											v-validate="'required|min:1'")
									.form-group
										label 卡號
										.form-row
											.col(v-if="!isMobile"
												v-for="(number, index) in formPayment.cardNumber")
												input.form-control(type='text' :name="`cardNumber${index}`"
													ref="cardNumber"
													v-model="formPayment.cardNumber[index]"
													v-validate="'required|numeric|length:4'"
													@input="checkCardNumberInput(formPayment.cardNumber[index], index)")
											.col(v-if="isMobile")
												input.form-control(type='text' name="cardNumber"
													:value="formPayment.cardNumberInput"
													v-validate="{ required: true,	regex: /^([0-9]{4}\-[0-9]{4}\-[0-9]{4}\-[0-9]{4})$/}"
													@input="formatCreditNumber($event)")
									.form-group
										label 到期日期
										.form-row
											.col-6.col-md-3.input-group
												input.form-control(type='text', name="expiredMonth"
													v-model="formPayment.expiredMonth"
													v-validate="'required|numeric|min_value:1|max_value:12'")
												.input-group-append
													span.input-group-text 月
											.col-6.col-md-3.input-group
												input.form-control(type='text', name="expiredYear"
													v-model="formPayment.expiredYear"
													v-validate="'required|numeric|min_value:20|max_value:30'")
												.input-group-append
													span.input-group-text 年
									.form-group
										label CVV (卡片背面末三碼)
										.form-row
											.col-md-3
												input.form-control(type='text' name="cvv"
													v-model="formPayment.cvv"
													v-validate="'required|numeric|length:3'")
									.form_footer
										.btn_group
											button.btn.btn_normal(@click.prevent="resetForm('formPayment')") 取消
											button.btn.btn_primary(type='submit') 下一步
						main.form_wrapper(v-else)
							section.step_done
								h2.step_done_title 您的訂單已完成付款
								img.step_done_img.img-fluid.my-5(src="./img/2nd-week4/icon-done.png")
								span.step_done_message 恭喜您成功完成訂單，稍後將寄送詳細資訊至您的E-mail。
								button.step_done_btn.btn.btn_primary(@click="resetAllStep") 回首頁
block script
	script(src="./js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.2.13/vee-validate.min.js")
	script(src="./js/crypto-pay.js")
