extends ./partials/layout.jade

block socialMeta
	<!-- Search Engine -->
	<meta name="description" content="the F2E - 新接龍">
	<meta name="image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week2.jpg">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="2nd Week 2 - Free Cell">
	<meta itemprop="description" content="the F2E - 新接龍">
	<meta itemprop="image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week2.jpg">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="2nd Week 2 - Free Cell">
	<meta property="og:description" content="the F2E - 新接龍">
	<meta property="og:image" content="https://kakadodo.github.io/theF2EChallange/img/2nd-week2.jpg">
	<meta property="og:url" content="https://kakadodo.github.io/theF2EChallange/free-cell.html">
	<meta property="og:site_name" content="2nd Week 2 - Free Cell">
	<meta property="og:locale" content="zh_TW">
	<meta property="fb:admins" content="1420062581">
	<meta property="fb:app_id" content="333459487173924">
	<meta property="og:type" content="website">

block pageTitle
	title 2nd Week 2 - Free Cell

block css
	//- link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
	//- link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
	link(rel="stylesheet", href="./css/free-cell.css")
block content
	#app(v-cloak)
		header.game_header
			.col
				h1.logo FREECELL
			.col
				.toolBox
					a.toolBox_options(href="#", @click.prevent="pauseGame")
						img(src="./img/2nd-week2/btn-more.svg", alt="options")
					.toolBox_gameTime
						| Time:
						span {{displayTime}}
					a.toolBox_return(href="#", @click.prevent="returnGameSteps")
						img(src="./img/2nd-week2/btn-return.svg", alt="return")
			.col
				.score
					| Score:
					span 00
		main.game_container
			.row
				.col.deck_holderContainer
					.deck(v-for="(cardId, deckIndex) in deckHolder"
						@dragenter="ondragEnter($event, deckIndex, 'deckHolder')")
						.deck_card(v-if="cardId")
							img.deck_card_img(:src="displayCardParttern(cardId, deckIndex)"
								:dragabble="true"
								@dragstart="ondragStart(cardId, deckIndex, 'deckHolder')"
								@dragend="ondragEnd($event, cardId, deckIndex)")
				.col.deck_doneContainer
					.deck.deck_heart(
						@dragenter="ondragEnter($event, 0, 'deckDone')")
						.deck_card(v-if="deckDone[0].length>0" v-for="cardId in deckDone[0]")
							img.deck_card_img(:src="displayCardParttern(cardId, 0)")
					.deck.deck_club(
						@dragenter="ondragEnter($event, 1, 'deckDone')")
						.deck_card(v-if="deckDone[1].length>0" v-for="cardId in deckDone[1]")
							img.deck_card_img(:src="displayCardParttern(cardId, 1)")
					.deck.deck_spade(
						@dragenter="ondragEnter($event, 2, 'deckDone')")
						.deck_card(v-if="deckDone[2].length>0" v-for="cardId in deckDone[2]")
							img.deck_card_img(:src="displayCardParttern(cardId, 2)")
					.deck.deck_diamond(
						@dragenter="ondragEnter($event, 3, 'deckDone')")
						.deck_card(v-if="deckDone[3].length>0" v-for="cardId in deckDone[3]")
							img.deck_card_img(:src="displayCardParttern(cardId, 3)")
			.row(style="margin-top:20px;")
				.col.deck_unorderContainer
					transition-group.deck(tag="div" appear name="ani_card"
						@enter="aniCardEnter"
						v-for="(deck, deckIndex) in deckUnorder"
						:key="`deck-${deckIndex}`")
						.deck_card(v-if="deck.length>0"
							v-for="(cardId, cardIndex) in deck"
							:key="cardId"
							:data-index="cardIndex"
							:style="`top:${cardIndex*-140}px;`"
							@dragenter="ondragEnter($event, deckIndex, 'deckUnorder')")
							img.deck_card_img(:src="displayCardParttern(cardId, deckIndex)"
								v-if="cardIndex === deck.length - 1"
								:dragabble="true"
								@dragstart="ondragStart(cardId, deckIndex, 'deckUnorder')"
								@dragend="ondragEnd($event, cardId, deckIndex)")
							img.deck_card_img(:src="displayCardParttern(cardId, deckIndex)"
								v-else)
		footer.game_footer
			.col.bg_left(:class="{'bg_left__ani': isPlaying}")
				img(src="./img/2nd-week2/bg-left.svg")
			.col.bg_right(style="order:1;", :class="{'bg_right__ani': isPlaying}")
				img(src="./img/2nd-week2/bg-right.svg")
			.col.bg_center(:class="{'bg_center__ani': isPlaying}")
				img(src="./img/2nd-week2/bg-center.svg")
		transition(enter-active-class="animated fadeIn"
			leave-active-class="animated fadeOut"
			:duration="300" appear)
			.modal(v-if="showModal")
				.modal_container
					.card(v-if="currentPanel==1")
						h2.card_title Game options
						.card_body
							ul.list_group
								li.list_group_item
									button.list_group_item_btn(@click="restartGame")
										| Quit ans Start a New Game
								li.list_group_item
									button.list_group_item_btn(@click="continueGame")
										| Keep Playing
					.card(v-else-if="currentPanel==2  || currentPanel==3")
						h2.card_title__sp(v-if="currentPanel==2") Congratulations!
						h2.card_title__sp(v-else) Fail!
						.card_body
							ul.list_group
								li.list_group_item
									button.list_group_item_btn.list_group_item_btn__sm(@click="restartGame")
										| New Game
						.card_footer
							img(src="./img/2nd-week2/bg-center.svg"
								:class="{'fail': currentPanel==3}")
					.card(v-else)
						h2.card_title How to play?
						a.card_dismiss(href="#", @click.prevent="startGame")
							img(src="./img/2nd-week2/btn-cancel.svg", alt="dismiss")
						.card_body
							| Freecell is a one-deck solitaire card game. All cards are dealt into 8 tableau piles. Four Cells (in the top left corner of the screen) and four foundation piles (top right hand corner) are placed above the tableau piles. The object of the game is to build up all cards on foundations from Ace to King by following suit. You win when all 52 cards are moved there, 13 to a pile. Top cards of tableau piles and cards from Cells are available to play. You can build tableau piles down by alternating color. Only one card at a time can be moved. The top card of any tableau pile can also be moved to any Cell. Each Cell (or Reserve space) may contain only one card. Cards in the cells can be moved to the foundation piles or back to the tableau piles, if possible. The rules state that you can move only one card at a time, but you can move group of cards in the proper sequence if you have enough free (empty) Cells and/or tableau piles.

block script
	//- script(src="./js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js")
	script(src="./js/free-cell.js")
